.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/BackPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;

}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer>div:nth-child(1) {
  font-size: 2.2rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.landingMainContainer > div:nth-child(1) div[role='button'] span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.landingMainContainer > div:nth-child(1) div[role='button'] span:after {
  content: '\00bb'; 
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.landingMainContainer > div:nth-child(1) div[role='button']:hover span {
  padding-right: 25px;
}

.landingMainContainer > div:nth-child(1) div[role='button']:hover span:after {
  opacity: 1;
  right: 0;
}


.landingMainContainer>div:nth-child(2) img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;

}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}



.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;

}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}
